In [6]:
import sys
sys.path.append("../src")
import etl
import report
report.main()
df = etl.load_raw()
summary = etl.compute_yield(df)
summary.head()

Excel report saved to C:\Users\Williams\Desktop\J\PythonProjects\semiconductor-yield-etl\src\..\reports\yield_report.xlsx

     lot_id  gross_die  good_die   yield
0  1d828f42       2500      2422  0.9688
1  4ca45ec7       2500      2411  0.9644
2  b5102c93       2500      2414  0.9656
3  c34cece7       2500      2438  0.9752
4  fbed3518       2500      2403  0.9612