In [1]:
import sys
sys.path.append("../src")
import etl
import report
report.main()
df = etl.load_raw()
summary = etl.compute_yield(df)
summary.head()

Excel report saved to C:\Users\Williams\Desktop\J\PythonProjects\semiconductor-yield-etl\notebooks\../src\..\reports\yield_report.xlsx

     lot_id  gross_die  good_die   yield
0  00185d44       2500      2150  0.8600
1  001ae75a       2500      2226  0.8904
2  00b7695c       2500      2225  0.8900
3  00f504a9       2500      2230  0.8920
4  01850408       2500      2197  0.8788